.prompts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.prompts-group__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 30px;
  gap: 15px;
}

.prompts-group__text {
  display: flex;
  max-width: 70ch;
  justify-content: center;
  margin: auto;
  text-align: justify;
}

.prompts-group__previous-command {
  font-style: italic;
}
