.terminal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
}

.terminal-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.input-line {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.help-text {
  display: flex;
  font-style: italic;
  width: 100%;
  justify-self: flex-start;
  margin: 5px 0;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
